<mat-toolbar color="primary" class="navbar">
  <span class="logo">CMS</span>
  <div class="nav-links">
    <a mat-button routerLink="/dashboard" routerLinkActive="active-link">Dashboard</a>
    <a mat-button routerLink="/condominiums" routerLinkActive="active-link">Condominiums</a>
    <a mat-button routerLink="/houses" routerLinkActive="active-link">Houses</a>
    <a mat-button routerLink="/data-entry" routerLinkActive="active-link">Data Entry</a>
  </div>
  <div class="spacer"></div>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Profile Settings</button>
    <button mat-menu-item>Logout</button>
  </mat-menu>
</mat-toolbar>
