<div class="page-container">
  <div class="breadcrumbs">
    <a routerLink="/condominiums">Condominiums</a>
    <mat-icon>chevron_right</mat-icon>
    <span>{{ selectedCondominium?.name ?? 'Select Condominium' }}</span>
    <mat-icon>chevron_right</mat-icon>
    <span>Houses</span>
  </div>

  <div class="header">
    <h1>Houses Management</h1>
    <button mat-flat-button color="primary" (click)="onAddHouse()" [disabled]="!selectedCondominiumId">
      <mat-icon>add</mat-icon> Add New House
    </button>
  </div>

  <div class="sub-header">
    Manage individual houses within the selected condominium.
  </div>

  <app-house-list
    [houses]="houses()"
    (edit)="onEditHouse($event)">
  </app-house-list>

  <div class="footer">
    &copy; 2024 AquaTrack. All rights reserved.
  </div>
</div>
