<div class="houses-container">
  <div class="breadcrumbs">
    <a routerLink="/dashboard">Home</a> &gt; <!-- Changed from / to /dashboard -->
    <a routerLink="/condominiums">Condominiums</a> &gt;
    <span>Sunshine Condos</span>
  </div>

  <div class="houses-header">
    <h1>Houses Management - Sunshine Condos</h1>
    <button mat-raised-button color="primary" (click)="openDialog()">+ Add House</button>
  </div>

  <div class="table-container mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="houseNumber">
        <th mat-header-cell *matHeaderCellDef> House Number </th>
        <td mat-cell *matCellDef="let element"> {{element.houseNumber}} </td>
      </ng-container>

      <ng-container matColumnDef="residentName">
        <th mat-header-cell *matHeaderCellDef> Resident Name </th>
        <td mat-cell *matCellDef="let element"> {{element.residentName}} </td>
      </ng-container>

      <ng-container matColumnDef="contactEmail">
        <th mat-header-cell *matHeaderCellDef> Contact Email </th>
        <td mat-cell *matCellDef="let element"> {{element.contactEmail}} </td>
      </ng-container>

      <ng-container matColumnDef="contactPhone">
        <th mat-header-cell *matHeaderCellDef> Contact Phone </th>
        <td mat-cell *matCellDef="let element"> {{element.contactPhone}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" (click)="openDialog(element)">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
