.condominiums-container {
  padding: 20px;
  font-family: 'Roboto', sans-serif;
}

.condominiums-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  h1 {
    margin: 0;
    font-size: 2em;
    color: #3f51b5;
  }
}

.table-container {
  .mat-elevation-z8 {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  }

  .mat-mdc-table {
    width: 100%;
  }

  .mat-mdc-header-cell {
    background-color: #e8eaf6;
    color: #333;
    font-weight: bold;
  }

  .mat-mdc-cell {
    padding: 10px;
  }

  .mat-icon-button {
    margin-right: 8px;
  }
}
