<header class="header">
  <div class="header__logo">
    <img ngSrc="logo.svg" alt="AquaTrack Logo" width="32" height="32" />
    <h2 class="header__logo__title">AquaTrack</h2>
  </div>
  <nav class="header__menu">
    @for (item of menuItems; track item.label) {
      <a
        class="header__menu__item"
        [routerLink]="item.route"
        routerLinkActive="header__menu__item_active"
        >{{ item.label }}</a
      >
    }
  </nav>
  <div class="header__profile">
    <button class="header__profile__notification">
      <app-icon name="notifications" [fill]="true"></app-icon>
    </button>
    <div class="header__profile__user"></div>
  </div>
</header>
